@page "/DeletePuestosTrabajo"
@page "/DeletePuestosTrabajo/puestoId={puestoId:int}"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject PuestosTrabajoService puestosTrabajoService

<PageTitle>Eliminar Puesto de Trabajo</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3 class="text-center"><strong>Eliminar Puesto de Trabajo</strong></h3>
		</div>
		@*Body*@
		<div class="card-body">
			<h4><strong>¿Est&aacute;s seguro de que quieres eliminar a este puesto de trabajo?</strong></h4>
			@*Datos*@
			<ul>
				<li><strong>PuestoId:</strong> @puesto.PuestoTrabajoId</li>
				<li><strong>Puesto de Trabajo:</strong> @puesto.Puesto</li>
				<li><strong>Sueldo:</strong> @puesto.Sueldo.ToString("N2")</li>
			</ul>
		</div>
		@*Footer*@
		<div class="card-footer d-flex justify-content-center">
			<div class="px-2">
				<button type="button" class="btn btn-outline-dark" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
			</div>
			<button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-floppy-fill" /> Eliminar</button>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int puestoId { get; set; }
	public PuestosTrabajo puesto { get; set; } = new PuestosTrabajo();
	public string puestoUltimo { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		puesto = await puestosTrabajoService.Buscar(puestoId);

		puestoUltimo = puesto.Puesto;
	}

	public async void Eliminar()
	{
		var eliminar = await puestosTrabajoService.Eliminar(puestoId);
		if (eliminar)
		{
			await Task.Delay(1000);
			Volver();
		}

		StateHasChanged();
		await Task.Delay(1000);
	}

	public async Task<bool> Validar()
	{
		var valor = await puestosTrabajoService.Listar(e => true);
		var trabajo = valor.FirstOrDefault(e => e.Puesto == puesto.Puesto);

		if (trabajo != null)
			return true;

		return false;
	}

	void Volver()
	{
		navigation.NavigateTo("/PuestosTrabajo");
	}
}